# dependencies
node_modules/
frontend/node_modules/

# next.js
frontend/.next/
frontend/out/

# python / flask
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/

# large files
ffmpeg
ffmpeg-6.0.zip
frontend/public/video1.mp4

# OS files
.DS_Store

# environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
